<launch>
    <!-- polygon name -->
    <arg name="name" value="table1" />
    
    <!-- select primitive -->
    <arg name="rectangle" value="true" />
    <arg name="circle" value="false" />
    
    <!-- define the height of the table (z-value in tables.dat) -->
    <arg name="height" value="0.9" />

    <!-- rectangle params: width, length -->
	<!-- x-value corresponds to width and y-value to length -->
    <arg name="width" value="1.4" />
    <arg name="length" value="0.65" />
    
    <!-- circle params: radius, points -->
    <arg name="radius" value="0.75" />
    <arg name="points" value="16" />
                
	<!-- DO NOT CHANGE PARAMETERS BELOW -->
	<!-- select padding -->
	<arg name="use_padding" value="false" />

	<!-- set padding -->
	<arg name="padding" value="0.56" />
	
	<arg name="r" value="-r $(arg width) -r $(arg length) -r $(arg height)" if="$(arg rectangle)" />
	<arg name="r" value="" unless="$(arg rectangle)" />
	<arg name="c" value="-c $(arg radius) -c $(arg points) -c $(arg height)" if="$(arg circle)" />
	<arg name="c" value="" unless="$(arg circle)" />
	<arg name="p" value="-d $(arg padding)" if="$(arg use_padding)" />
	<arg name="p" value="" unless="$(arg use_padding)" />

    <arg name="path_name" value="$(find primitive_to_polygon)/polygons/$(arg name).poly" unless="$(arg use_padding)"/>
    <arg name="path_name" value="$(find primitive_to_polygon)/polygons/$(arg name)_padding_$(arg padding).poly" if="$(arg use_padding)"/>

    <node pkg="primitive_to_polygon" type="primitive_to_polygon"
    	name="primitive_to_polygon"
    	args="-p $(arg path_name) $(arg r) $(arg c) $(arg p)" 	
    	output="screen" required="true">
    </node>
</launch>
