<launch>
	<!-- path to inverse capability map -->
    <arg name="pathname" value="$(find inverse_capability_map_generator)/maps/pr2_map_right_arm_5cm.icpm" />
    
    <!-- bounding box -->
    <arg name="x1" value="0" />
    <arg name="x2" value="1.5" />
    
    <arg name="y1" value="0" />
    <arg name="y2" value="1.5" />
    
    <arg name="z1" value="-1.0" />
    <arg name="z2" value="1.0" />
    
    <arg name="colortable" value="false" />
    <arg name="3darrowdimension" value="true" />
    

	<!-- DO NOT CHANGE PARAMETERS BELOW -->    
    <arg name="c" value="-c" if="$(arg colortable)" />
    <arg name="c" value="" unless="$(arg colortable)" />
	<arg name="d" value="-d" if="$(arg 3darrowdimension)" />
	<arg name="d" value="" unless="$(arg 3darrowdimension)" />

    <node pkg="inverse_capability_map" type="inverse_capability_vis" name="inverse_capability_vis"
    	args=" -p $(arg pathname)
    	$(arg c)
    	$(arg d)
    	-x $(arg x1) -x $(arg x2) -y $(arg y1) -y $(arg y2) -z $(arg z1) -z $(arg z2)"
		output="screen">
    </node>
</launch>
